		<footer itemscope itemtype="http://schema.org/WPFooter">
			<span id="copyright">Copyright &copy; 2015-2024 <span itemprop="author">mntone</span>. All rights reserved. Icon by <a href="http://www.elegantthemes.com/blog/resources/elegant-icon-font">Elegant Icon Font</a></span>
		</footer>
	</div>
</body>
</html>
