<% include ../base/head %>

<article itemscope itemtype="http://schema.org/Article">
	<% if( lang == "ja" ) { %>
	<h2 itemprop="headline">プライバシー ポリシー</h2>
	<div itemprop="articleBody">
		<p>アプリ nicobriz (以下「本アプリ」) は、以下のようにプライバシー ポリシーを定めます。</p>

		<ul>
			<li>本アプリにおけるインターネットを用いた通信は、niconico のサービスを利用するために使われます。niconico 以外のサービスには接続しません。</li>
			<li>あなたが本アプリに入力した「メール アドレス」および「パスワード」はあなたのデバイスに保存されます (ただし、「パスワード」は暗号化され保存されます)。なおこれらのデータは niconico のサービスを利用するために使われ、SSL 暗号化通信を用いて niconico のサーバーに送信されます。</li>
			<li>あなたが本アプリに入力した「コメント」は直接 niconico のサーバーに転送され、niconico のサービスによって保存されます。保存された「コメント」は「本アプリ」から削除することはできません。</li>
			<li>その他本アプリに関してご不明なことがございましたら、<br>&nbsp;&nbsp;&nbsp;&nbsp;Twitter <a href="http://twitter.com/mntone">@mntone</a><br>または<br>&nbsp;&nbsp;&nbsp;&nbsp;mntone[at]outlook.com ([at] は @ に変更してください)<br>までご連絡ください。</li>
		</ul>
	</div>
	<% } else { %>
	<h1 itemprop="headline">Privacy Policy</h1>
	<div itemprop="articleBody">
		<p>This privacy policy cover the use of the nicobriz app (called “this app”).</p>

		<ul>
			<li>This app use internet connection. Connect to only niconico.</li>
			<li>This app save “e-mail” or encrypted “password” you input. These data is sent to only niconico over SSL.</li>
			<li>Your comment is sent directly to niconico and saved on niconico server. This app CANNOT erase your comment.</li>
			<li>If you have any questions about this app, <br>&nbsp;&nbsp;&nbsp;&nbsp;reply to Twitter <a href="http://twitter.com/mntone">@mntone</a><br>or<br>&nbsp;&nbsp;&nbsp;&nbsp;send mail to mntone[at]outlook.com (change [at] to @)<br></li>
		</ul>
	</div>
	<% } %>
</article>

<% include ../base/foot %>