<% include base/head %>

<article itemscope itemtype="http://schema.org/Article">
	<h1 itemprop="headline">工事中</h1>
	<div itemprop="articleBody">
		<p>リニューアル中。</p>
	</div>
</article>

<% include base/foot %>