<% include base/head %>

<article itemscope itemtype="http://schema.org/Article">
	<% if( lang == "ja" ) { %>
	<h2 itemprop="headline">あいさつ</h2>
	<div itemprop="articleBody">
		<p>
			サイトにアクセスありがとうございます。C++, C#, Java, JavaScript を中心にいろいろプログラムを書いてるモノトーンというものです! 成果物とかおいてます。
		</p>
		<p style="text-align: right">モノトーン</p>
	</div>

	<h2 itemprop="headline">アプリ一覧</h2>
	<div itemprop="articleBody">
		現行で配布しているアプリを記述しています
		<ul itemscope itemtype="http://schema.org/SiteNavigationElement" id="nav-list">
			<li><a href="/univschedule/">授業情報アプリ</a>, <a href="http://mntone.hateblo.jp/entry/2015/01/10/182525">ブログ エントリー</a></li>
			<li><a href="/tvupl/">Twitterに動画をうｐするマン</a>, <a href="http://mntone.hateblo.jp/entry/2015/08/08/111228">ブログ エントリー</a></li>
			<li><a href="/dpc/">Dot-pitch Calc. [Web app]</a></li>
		</ul>
	</div>

	<h2 itemprop="headline">ブラウザーテスト</h2>
	<div itemprop="articleBody">
		ブラウザーに関して機能を確認するために作ったページたちです
		<ul itemscope itemtype="http://schema.org/SiteNavigationElement" id="nav-list">
			<li><a href="/b.html">Device-dependent border-width test</a></li>
			<li><a href="/g.html">Accelerator/gyro sensor test</a></li>
			<li><a href="/h.html">Multiple weight font test</a></li>
			<li><a href="/k.html">Keyboard event test</a></li>
			<li><a href="/p.html">Pointer (touch/pen/mouse) event test</a></li>
			<li><a href="/t.html">DOM params test</a></li>
		</ul>
	</div>

	<h2 itemprop="headline">コンテンツ</h2>
	<div itemprop="articleBody">
		ゲーム趣味のコンテンツ書いてたり。。。
		<ul itemscope itemtype="http://schema.org/SiteNavigationElement" id="nav-list">
			<li><a href="/zelda/">64ゼルダ極道</a></li>
			<li><a href="/splatoon.html">Splatoon インク</a></li>
		</ul>
	</div>

	<h2 itemprop="headline">その他</h2>
	<div itemprop="articleBody">
		私のソフトウエアがいいと思ったら安いものでいいので、ここからプレゼントしてくれるとモチベあがるかも。
		<ul itemscope itemtype="http://schema.org/SiteNavigationElement" id="nav-list">
			<li><a href="http://www.amazon.co.jp/registry/wishlist/1NY96A3CYBC7E/ref=cm_sw_r_tw_ws_GhLpvb1BD1Z38">ほしい物リスト</a></li>
		</ul>
	</div>
	<% } else { %>
	<h2 itemprop="headline">Welcome!</h2>
	<div itemprop="articleBody">
		<p>
			Welcome to my website! I’m a.k.a. mntone, which writes programs in C++, C#, Java, or JavaScript. There are my programs’ links.
		</p>
		<p style="text-align: right">a.k.a. mntone</p>
	</div>

	<h2 itemprop="headline">App list</h2>
	<div itemprop="articleBody">
		Deliverying app now
		<ul itemscope itemtype="http://schema.org/SiteNavigationElement" id="nav-list">
			<li><a href="/en/univschedule/">Univ Schedule app</a>, <a href="http://mntone.hateblo.jp/entry/2015/01/10/182525">Blog entry [Japanese]</a></li>
			<li><a href="/en/tvupl/">Twitter Video Uploader</a>, <a href="http://mntone.hateblo.jp/entry/2015/08/08/111228">Blog entry [Japanese]</a></li>
			<li><a href="/dpc/">Dot-pitch Calc. [Web app]</a></li>
		</ul>
	</div>

	<h2 itemprop="headline">Browser tests</h2>
	<div itemprop="articleBody">
		These pages is created for browser functional test.
		<ul itemscope itemtype="http://schema.org/SiteNavigationElement" id="nav-list">
			<li><a href="/b.html">Device-dependent border-width test</a></li>
			<li><a href="/g.html">Accelerator/gyro sensor test</a></li>
			<li><a href="/h.html">Multiple weight font test</a></li>
			<li><a href="/k.html">Keyboard event test</a></li>
			<li><a href="/p.html">Pointer (touch/pen/mouse) event test</a></li>
			<li><a href="/t.html">DOM params test</a></li>
		</ul>
	</div>

	<h2 itemprop="headline">Other</h2>
	<div itemprop="articleBody">
		You give me high and low presents if you thank me.
		<ul itemscope itemtype="http://schema.org/SiteNavigationElement" id="nav-list">
			<li><a href="http://www.amazon.co.jp/registry/wishlist/1NY96A3CYBC7E/ref=cm_sw_r_tw_ws_GhLpvb1BD1Z38">wish list</a></li>
		</ul>
	</div>
	<% } %>
</article>

<% include base/foot %>