<% include base/head %>

<article itemscope itemtype="http://schema.org/Article">
	<% if( lang == "ja" ) { %>
	<h2 itemprop="headline">あいさつ</h2>
	<div itemprop="articleBody">
		<p>
			男子大学生がテキトーに書いたプログラムを淡々と展示するための Web ページです。生息地は Twitter で、結構きつい性格だと思います。<br>
			昔 (といっても Windows 8 からだけど) は Windows が好きな人でしたが、Windows 10 の方針見てるとあまり期待できないので、正直今はどの OS が好きとかいうのはありません。<br>
			基本的に興味あることは、「UI/UX で如何に計算機が苦手な人でもパターン学習で恐怖を感じさせずに計算機と触れ合ってもらえるようになるのか」とか、「純粋な計算機の発展」とか、「人を楽しませることができるコンテンツの作成」とか、…　あげたらキリがありませんね。
		</p>
		<p>
			過去に作った資産について軽く上げますと、「画面キャプチャーソフト (CamSwitch)」、「Twitter クライアント (twijue)」、「ニコ生視聴アプリ (nicobriz)」、「ブラウザーリダイレクトアプリ (Intent for Windows)」です。<br>
			どれもヒットはしてませんが… orz<br>
			ただ、これらを得られたことは「人間やる気になれば何でもできる」ってのと「ただし、時間があれば」です。<br>
			やる気と時間は相反するもので、やる気が欠けても、時間が欠けてもダメです。難しいです。
		</p>
		<p>
			なんだかブログっぽいあいさつになってしまいましたが、いつの時代にあれ、革新的ものはないですから、きちんと地盤を固めてやっていくしかない、ってことをここに書いておきます。
		</p>
		<p style="text-align: right">モノトーン</p>
	</div>

	<h2 itemprop="headline">アプリ一覧</h2>
	<div itemprop="articleBody">
		現行で配布しているアプリを記述しています
		<ul itemscope itemtype="http://schema.org/SiteNavigationElement" id="nav-list">
			<li>授業情報アプリ (ページ準備中です), <a href="http://mntone.hateblo.jp/entry/2015/01/10/182525">ブログ エントリー</a></li>
			<li><a href="/dpc/">Dot-pitch Calc. [Web app]</a></li>
		</ul>
	</div>
	<% } else { %>
	<h2 itemprop="headline">Welcome!</h2>
	<div itemprop="articleBody">
		<p>
			This is website which I exhibit my programs in.<br>
			I understand simple English.
		</p>
	</div>

	<h2 itemprop="headline">App list</h2>
	<div itemprop="articleBody">
		Deliverying app now
		<ul itemscope itemtype="http://schema.org/SiteNavigationElement" id="nav-list">
			<li>Class Schedule app (preparing a page…), <a href="http://mntone.hateblo.jp/entry/2015/01/10/182525">Blog entry [Japanese]</a></li>
			<li><a href="/dpc/">Dot-pitch Calc. [Web app]</a></li>
		</ul>
	</div>
	<% } %>
</article>

<% include base/foot %>