<% include base/head %>

<article itemscope itemtype="http://schema.org/Article">
	<h2 itemprop="headline">Splatoon インク</h2>
	<div itemprop="articleBody">
		<p>Splatoon インクの色まとめ!</p>
		<p>アルファチーム、ブラボーチーム、そしてMiiverseイラストなどに使われる中立色がセットで定義されてる。Splatoon のインクにはとても惹かれるし美しいよね! そんな色の組合せリスト。</p>
	</div>

	<h2 itemprop="headline">レギュラーマッチ (ナワバリバトル)</h2>

	<h3 itemprop="headline">青/ライム</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Regular_BlueLime</p>
		<div class="color-block color-block-alpha" style="background-color: #26229F">アルファ<br />#26229F</div>
		<div class="color-block color-block-bravo" style="background-color: #91B00B">ブラボー<br />#91B00B</div>
		<div class="color-block color-block-neutral" style="background-color: #FF7F19">中立<br />#FF7F19</div>
	</div>

	<h3 itemprop="headline">緑/紫</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Regular_GreenPurple</p>
		<div class="color-block color-block-alpha" style="background-color: #799516">アルファ<br />#799516</div>
		<div class="color-block color-block-bravo" style="background-color: #6E068A">ブラボー<br />#6E068A</div>
		<div class="color-block color-block-neutral" style="background-color: #118991">中立<br />#118991</div>
	</div>

	<h3 itemprop="headline">淡青/暗青 [2.0.0 追加]</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Regular_LightBlueDarkBlue</p>
		<div class="color-block color-block-alpha" style="background-color: #228CFF">アルファ<br />#228CFF</div>
		<div class="color-block color-block-bravo" style="background-color: #E85407">ブラボー<br />#E85407</div>
		<div class="color-block color-block-light color-block-neutral" style="background-color: #EFF66E">中立<br />#EFF66E</div>
	</div>

	<h3 itemprop="headline">淡青/黄 [2.0.0 追加]</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Regular_LightBlueYellow</p>
		<div class="color-block color-block-alpha" style="background-color: #007EDC">アルファ<br />#007EDC</div>
		<div class="color-block color-block-bravo" style="background-color: #E1A307">ブラボー<br />#E1A307</div>
		<div class="color-block color-block-neutral" style="background-color: #D01D79">中立<br />#D01D79</div>
	</div>

	<h3 itemprop="headline">橙/青 [標準]</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Regular_OrangeBlue_Default</p>
		<div class="color-block color-block-alpha" style="background-color: #CF581B">アルファ<br />#CF581B</div>
		<div class="color-block color-block-bravo" style="background-color: #141494">ブラボー<br />#141494</div>
		<div class="color-block color-block-light color-block-neutral" style="background-color: #FFFF00">中立<br />#FFFF00</div>
	</div>

	<h3 itemprop="headline">桃/青</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Regular_PinkBlue</p>
		<div class="color-block color-block-alpha" style="background-color: #C93457">アルファ<br />#C93457</div>
		<div class="color-block color-block-bravo" style="background-color: #048188">ブラボー<br />#048188</div>
		<div class="color-block color-block-neutral" style="background-color: #890B5D">中立<br />#890B5D</div>
	</div>

	<h3 itemprop="headline">桃/緑</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Regular_PinkGreen</p>
		<div class="color-block color-block-alpha" style="background-color: #C83D79">アルファ<br />#C83D79</div>
		<div class="color-block color-block-bravo" style="background-color: #409D3B">ブラボー<br />#409D3B</div>
		<div class="color-block color-block-neutral" style="background-color: #2BDCED">中立<br />#2BDCED</div>
	</div>

	<h3 itemprop="headline">桃/橙</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Regular_PinkOrange</p>
		<div class="color-block color-block-alpha" style="background-color: #DA3781">アルファ<br />#DA3781</div>
		<div class="color-block color-block-bravo" style="background-color: #ED9408">ブラボー<br />#ED9408</div>
		<div class="color-block color-block-neutral" style="background-color: #A577FF">中立<br />#A577FF</div>
	</div>

	<h3 itemprop="headline">ターコイズ/橙</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Regular_TurquoiseOrange</p>
		<div class="color-block color-block-alpha" style="background-color: #20837D">アルファ<br />#20837D</div>
		<div class="color-block color-block-bravo" style="background-color: #DF641A">ブラボー<br />#DF641A</div>
		<div class="color-block color-block-neutral" style="background-color: #AD7710">中立<br />#AD7710</div>
	</div>

	<h2 itemprop="headline">ガチマッチ</h2>

	<h3 itemprop="headline">濃青/黄</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Gachi_DarkblueYellow</p>
		<div class="color-block color-block-alpha" style="background-color: #0D195E">アルファ<br />#0D195E</div>
		<div class="color-block color-block-bravo" style="background-color: #B97E1A">ブラボー<br />#B97E1A</div>
		<div class="color-block color-block-neutral" style="background-color: #FF5937">中立<br />#FF5937</div>
	</div>

	<h3 itemprop="headline">緑/マゼンダ</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Gachi_GreenMazenta</p>
		<div class="color-block color-block-alpha" style="background-color: #79B726">アルファ<br />#79B726</div>
		<div class="color-block color-block-bravo" style="background-color: #A52B85">ブラボー<br />#A52B85</div>
		<div class="color-block color-block-neutral" style="background-color: #ECC50A">中立<br />#ECC50A</div>
	</div>

	<h3 itemprop="headline">緑/橙</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Gachi_GreenOrange</p>
		<div class="color-block color-block-alpha" style="background-color: #319471">アルファ<br />#319471</div>
		<div class="color-block color-block-bravo" style="background-color: #BF3E24">ブラボー<br />#BF3E24</div>
		<div class="color-block color-block-neutral" style="background-color: #B986ED">中立<br />#B986ED</div>
	</div>

	<h3 itemprop="headline">淡緑/青</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Gachi_LightgreenBlue</p>
		<div class="color-block color-block-alpha" style="background-color: #85E378">アルファ<br />#85E378</div>
		<div class="color-block color-block-bravo" style="background-color: #3D59DE">ブラボー<br />#3D59DE</div>
		<div class="color-block color-block-neutral" style="background-color: #FFA427">中立<br />#FFA427</div>
	</div>

	<h3 itemprop="headline">蛍光緑/紫</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Gachi_LumigreenPurple</p>
		<div class="color-block color-block-alpha" style="background-color: #60AB43">アルファ<br />#60AB43</div>
		<div class="color-block color-block-bravo" style="background-color: #891A7F">ブラボー<br />#891A7F</div>
		<div class="color-block color-block-neutral" style="background-color: #FFB500">中立<br />#FFB500</div>
	</div>

	<h3 itemprop="headline">ソーダ/桃</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Gachi_SodaPink</p>
		<div class="color-block color-block-alpha" style="background-color: #65B799">アルファ<br />#65B799</div>
		<div class="color-block color-block-bravo" style="background-color: #9736B2">ブラボー<br />#9736B2</div>
		<div class="color-block color-block-neutral" style="background-color: #8ED11E">中立<br />#8ED11E</div>
	</div>

	<h3 itemprop="headline">黄/ライアック</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Gachi_YellowLilac_Default</p>
		<div class="color-block color-block-alpha" style="background-color: #DD9016">アルファ<br />#DD9016</div>
		<div class="color-block color-block-bravo" style="background-color: #4D24A3">ブラボー<br />#4D24A3</div>
		<div class="color-block color-block-light color-block-neutral" style="background-color: #A1E896">中立<br />#A1E896</div>
	</div>

	<h2 itemprop="headline">フェス</h2>

	<h3 itemprop="headline">代替データ</h3>
	<div itemprop="articleBody">
		<p>GfxSetting_Vss_Option_BlueOrange</p>
		<p>この領域を置換して使う?</p>
		<div class="color-block color-block-alpha" style="background-color: #2E0CB5">アルファ<br />#2E0CB5</div>
		<div class="color-block color-block-bravo" style="background-color: #F86300">ブラボー<br />#F86300</div>
		<div class="color-block color-block-light color-block-neutral" style="background-color: #FDFF00">中立<br />#FDFF00</div>
	</div>

	<h3 itemprop="headline">Marshmallows vs. Hot Dogs [NA 3]</h3>
	<div itemprop="articleBody">
		<div class="color-block color-block-alpha" style="background-color: #CE334F">アルファ<br />#CE334F</div>
		<div class="color-block color-block-bravo" style="background-color: #008006">ブラボー<br />#008006</div>
		<div class="color-block color-block-light color-block-neutral" style="background-color: #FFE80A">中立<br />#FFE80A</div>
	</div>

	<h3 itemprop="headline">Autobots vs. Decepticons [NA 4]</h3>
	<div itemprop="articleBody">
		<div class="color-block color-block-alpha" style="background-color: #991F40">アルファ<br />#991F40</div>
		<div class="color-block color-block-bravo" style="background-color: #3B124D">ブラボー<br />#3B124D</div>
		<div class="color-block color-block-neutral" style="background-color: #E6B40D">中立<br />#E6B40D</div>
	</div>

	<h3 itemprop="headline">Cars vs Planes [NA 6]</h3>
	<div itemprop="articleBody">
		<div class="color-block color-block-alpha" style="background-color: #EB6D0A">アルファ<br />#EB6D0A</div>
		<div class="color-block color-block-bravo" style="background-color: #0038B5">ブラボー<br />#0038B5</div>
		<div class="color-block color-block-neutral" style="background-color: #FFE80A">中立<br />#FFE80A</div>
	</div>

	<h3 itemprop="headline">Pirates vs Ninjas [NA 7]</h3>
	<div itemprop="articleBody">
		<div class="color-block color-block-alpha" style="background-color: #4F9E00">アルファ<br />#4F9E00</div>
		<div class="color-block color-block-bravo" style="background-color: #7D26B5">ブラボー<br />#7D26B5</div>
		<div class="color-block color-block-neutral" style="background-color: #100B87">中立<br />#100B87</div>
	</div>

</article>

<% include base/foot %>