@import "mixins.less";

@narrowWidth: 500px;
@maxWidth: 1000px;
@maxWidthPlusScrollBar: 1016px;
@theme500: #03a9f4;
@accent200: #FFD740;

.size-mixin() {
	.box-sizing(border-box);
	width: @maxWidth;

	@media (max-width: @maxWidthPlusScrollBar) {
		width: 100%;
	}
}

.sticky {
	position: fixed;
	top: 0;
}

// reset
body, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

// page-size
#content {
	.size-mixin();
	margin: 20px auto 40px;

	@media (max-width: @maxWidthPlusScrollBar) {
		margin-top: 18px;
	}
}

header #headline, article, footer {
	padding: 0 20px;

	@media (max-width: @maxWidthPlusScrollBar) {
		padding: 0 18px;
	}
}

header {
	color: #fff;
	background-color: @theme500;

	#headline {
		.size-mixin();
		display: block;
		margin: 0 auto;
	}
}

footer {
	margin-bottom: 20px;

	@media (max-width: @maxWidthPlusScrollBar) {
		margin-bottom: 18px;
	}
}

// navigation
nav {
	width: 100%;
	background-color: @theme500;
	.user-select(none);
	.transition( box-shadow 0.167s linear 0 );

	&.sticky {
		box-shadow: 0 2px 5px rgba(0,0,0,0.26);

		& + #content {
			margin-top: 70px;
		}
	}

	ul {
		.size-mixin();
		display: table;
		margin: 0 auto;
		padding: 0 20px;
		list-style: none;
		table-layout: fixed;
	}

	li {
		display: table-cell;
	}

	object {
		margin: 8px 10px 12px;
		height: 30px;
		width: 30px;
		fill: #fff;
		vertical-align: middle;
		pointer-events: none;
	}

	a {
		display: block;
		height: 50px;
		color: #fff;
		font-size: 121%;
		font-weight: 400;
		line-height: 50px;

		&:hover {
			color: #000;
			background-color: @accent200;
		}
	}

	@media (max-width: @narrowWidth) {
		li {
			text-align: center;
		}

		span {
			display: none;
		}
	}
}

.image-right {
	display: block;
	float: right;
	margin: 20px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.2);

	@media (max-width: @narrowWidth) {
		float: none;
		margin: 0 auto 20px;
		height: auto;
		width: 200px;
	}
}

.color-block {
    display: inline-block;
    height: 60px;
    width: 80px;
    padding: 20px 10px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.color-block-neutral {
    margin-left: 10px;
}

.color-block-light {
    color: #000;
}