$phoneVerticalWidth: 548px;
$phoneHorizontalWidth: 720px;
$tabletWidth: 1024px;
$wideWidth: 1280px;
$accent: #298fcc;

@mixin clearfix($postion: after) {
    @if $postion == before {
        &::before {
            content: " ";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    } @else {
        &::after {
            content: " ";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }
}

// reset
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    touch-action: pan-y;
}

@-ms-viewport {
    width: device-width;
}

body, div, p, span {
    margin: 0;
}

body {
    font-family: "Segoe UI", "San Francisco", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    line-break: strict;

    @media (prefers-color-scheme: dark) {
        color: #fff;
        background-color: #000;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 16px 0;
    font-family: "Segoe UI", "San Francisco", "Hiragino Sans", "Yu Gothic UI", "Meiryo UI", sans-serif;
    font-feature-settings: "pwid";
}

a {
    color: $accent;
}

h1 {
    font-size: 2.875rem;
    line-height: 3.5rem;
    font-weight: 300;
    letter-spacing: -.01em;
}

h2 {
    font-size: 2.125rem;
    line-height: 2.5rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 400;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

h5 {
    font-size: .9375rem;
    line-height: 1.25rem;
    font-weight: 600;
}

h6 {
    font-size: .9375rem;
    line-height: 1.25rem;
    font-weight: 300;
}

small {
    font-size: .75rem;
    line-height: .875rem;
}

nav ul, nav li {
    margin: 0;
    padding: 0;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

table {
    border: 0 none;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 4px;
}

html.no-scroll {
    overflow: hidden;
}

// page-size
@mixin page-base {
    padding: 12px;
    padding-left: calc(12px + constant(safe-area-inset-left));
    padding-left: calc(12px + env(safe-area-inset-left));
    padding-right: calc(12px + constant(safe-area-inset-right));
    padding-right: calc(12px + env(safe-area-inset-right));
    max-width: 1280px;
}

#content {
    @include page-base();
    margin: 48px auto 16px;
}

// grid system
.grid-container {
    margin: 0 0 12px -12px;
    @include clearfix();
}

.grid-item {
    color: #fff;
    background-color: #298fcc;
    user-select: none;
    transition: transform cubic-bezier(0.1, 0.9, 0.2, 1) 220ms;

    & > a {
        display: table;
        border: 2px solid rgb(41, 143, 204);
        height: inherit;
        width: 100%;
        outline: 0 none;
        color: inherit;
        text-decoration: none;
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &:hover {
            border-color: rgba(255, 255, 255, .5);
        }

        & > div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;
            padding: 0 12px;
        }
    }

    &.keydown, &:active {
        transform: scale(.95);
    }

    .key & > a:focus {
        border: 2px dotted #fff;
    }
}

.grid-item-image {
    position: relative;

    & > p {
        display: block;
        position: absolute;
        width: 100%;
        height: inherit;
        filter: blur(2px);
        background-size: cover;
        background-position: center center;
        z-index: 1;
    }

    & > a {
        position: absolute;
        border-color: transparent;
        background-color: rgba(0, 0, 0, .6);
        z-index: 2;

        &:hover {
            border-color: rgb(41, 143, 204);
        }
    }

    .key & > a:focus {
        border: 2px dotted #fff;
    }
}

@mixin grid-item {
    float: left;
    margin: 12px 0 0 12px;
}

.grid3-item {
    @include grid-item;
    width: calc(100% / 3 - 12px);
    height: 150px;

    @media (max-width: $tabletWidth) {
        width: calc(50% - 12px);
    }

    @media (max-width: $phoneHorizontalWidth) {
        width: calc(100% - 12px);
    }
}

.grid3-item-cols2 {
    @include grid-item();
    width: calc(100% * 2 / 3 - 12px);

    @media (max-width: $tabletWidth) {
        width: calc(100% - 12px);
    }
}

.grid3-item-rows2 {
    height: 312px;
}

// header
header {
    position: fixed;
    color: #fff;
    top: 0;
    width: 100%;
    height: 48px;
    z-index: 4;

    @media (prefers-color-scheme: dark) {
        color: #000
    }
}

#header-background {
    position: relative;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    width: 100%;
    height: 48px;

    @media (prefers-color-scheme: dark) {
        background-color: rgba(255, 255, 255, .8);
    }
}

#header-inner {
    position: relative;
    top: -48px;
    margin: 0 auto;
    padding: 0 12px;
    padding-left: calc(12px + constant(safe-area-inset-left));
    padding-left: calc(12px + env(safe-area-inset-left));
    padding-right: calc(12px + constant(safe-area-inset-right));
    padding-right: calc(12px + env(safe-area-inset-right));
    max-width: 1280px;
}

#headline {
    float: left;
    font-weight: 300;

    & > a {
        display: block;
        border: 2px dotted transparent;
        padding-left: 52px;
        outline: 0 none;
        height: 44px;
        font-size: 1.25rem;
        line-height: 44px;
        color: inherit;
        text-decoration: none;
        background-image: url("/i/logo.svg");
        background-position-x: left;
        background-size: contain;
        background-repeat: no-repeat;

        &:hover {
            background-color: #000;

            @media (prefers-color-scheme: dark) {
                background-color: #fff;
            }
        }

        & > span {
            user-select: none;
        }

        @media (max-width: $phoneHorizontalWidth) {
            padding-left: 44px;

            & > span {
                display: none;
            }
        }
    }
}

.key #headline > a:focus {
    border-color: #fff;
}

nav {
    float: right;
    height: 48px;
    user-select: none;

    ul {
        list-style-type: none;
    }

    a {
        display: block;
        border: 2px dotted transparent;
        padding: 0 12px;
        outline: 0 none;
        color: inherit;
        text-decoration: none;
    }
}

#menu-button {
    display: none;
    position: relative;
    width: 48px;
    height: 48px;

    & > a {
        display: block;
        border: 2px dotted transparent;
        padding: 6px;
        outline: 0 none;
        width: 32px;
        height: 32px;

        &:hover {
            background-color: #000;

            @media (prefers-color-scheme: dark) {
                background-color: #fff;
            }
        }
    }

    @media (max-width: $phoneHorizontalWidth) {
        display: block;
    }
}

.key #menu-button > a:focus {
    border-color: #fff;
}

#menu-button-menu {
    position: absolute;
}

#menu-button-close {
    position: absolute;
    display: none;
}

#nav-list {
    @include clearfix();

    & > li {
        float: left;
        display: block;
        overflow: visible;
        line-height: 44px;
        width: 120px;
        height: 44px;

        &.wide {
            width: 200px;
        }

        & > a {
            padding: 0 12px;

            &:hover {
                background-color: #000;

                @media (prefers-color-scheme: dark) {
                    background-color: #fff;
                }
            }
        }

        & > ul {
            display: inline-block;
            visibility: hidden;
            overflow: hidden;
            background-color: rgba(0, 0, 0, .8);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
            transform: scaleY(0);
            transform-origin: top;
            transition: transform cubic-bezier(0.1, 0.9, 0.2, 1) 167ms;

            @media (prefers-color-scheme: dark) {
                background-color: rgba(255, 255, 255, .8);
            }

            & > li {
                display: inline-block;
                float: left;
                width: 100%;
                line-height: 20px;
                @include clearfix();

                & > a {
                    white-space: nowrap;

                    &:hover {
                        background-color: #000;

                        @media (prefers-color-scheme: dark) {
                            background-color: #fff;
                        }
                    }
                }
            }

            &.visible {
                visibility: visible;
                transform: scaleY(1);
            }

            &.visible-touch > li {
                line-height: 44px;
            }
        }
    }

    @media (max-width: $phoneHorizontalWidth) {
        visibility: hidden;
        overflow: hidden;
        overflow-y: auto;
        position: fixed;
        top: 48px;
        left: 0;
        width: 100%;
        height: 0;
        color: rgba(255, 255, 255, .8);
        background-color: rgba(0, 0, 0, .8);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        -webkit-overflow-scrolling: touch;
        opacity: 0;
        transition: opacity cubic-bezier(0.1, 0.9, 0.2, 1) 220ms;

        @media (prefers-color-scheme: dark) {
            color: rgba(0, 0, 0, .8);
            background-color: rgba(255, 255, 255, .8);
        }

        & > li {
            float: none;
            padding: 16px 0 12px;
            line-height: 20px;
            width: initial;
            height: initial;
            background-color: transparent;

            &.wide {
                width: initial;
            }

            & > ul {
                display: block;
                visibility: visible;
                background-color: transparent;
                -webkit-backdrop-filter: none;
                backdrop-filter: none;
                transform: initial;

                & > li {
                    display: block;
                    float: none;
                    width: initial;
                    background-color: transparent;
                }
            }
        }

        &.visible {
            visibility: visible;
            height: calc(100% - 48px);
            opacity: 1;

            & + #menu-button #menu-button-menu {
                display: none;
            }

            & + #menu-button #menu-button-close {
                display: inline;
            }
        }

        &.visible-touch li {
            line-height: 44px;
        }
    }
}

.key nav a:focus {
    border-color: #fff;
}

article {
    float: left;
    max-width: 32em;

    & > div {
        & > p {
            margin: .5em 0;

            &.mark {
                padding-left: 1.3em;
                text-indent: -1.3em;
            }
        }
    }

    & > h2 {
        margin-top: 32px;

        &:first-child {
            margin-top: 16px;
        }
    }

    @media (max-width: 70em) {
        float: none;
    }
}

.more-button {
    cursor: pointer;
    color: $accent;
    text-decoration: underline;
}

input[type=checkbox] {
    visibility: hidden;

    & + .more {
        display: none;
    }
}

input[type=checkbox]:checked + .more {
    display: block;
}

.screenshot {
    float: right;
    width: calc(100% - 36em);

    & > h2 {
        display: none;
    }

    & > div.image-list {
        margin-right: -12px;
        background-color: rgba(0, 0, 0, .6);
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        & img {
            margin: 4px 0 4px 4px;
            max-width: 200px;
            max-height: 200px;
        }
    }

    img.top {
        width: 100%;
        box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
    }

    @media (max-width: 70em) {
        float: none;
        width: 100%;

        & > div.image-list {
            margin-left: -12px;
        }

        & > h2 {
            display: block;
            margin-top: 32px;
        }
    }
}

footer {
    @include clearfix(before);
}

#copyright {
    font-size: .75rem;
    line-height: .875rem;
}
