		<% include footer %>
	</div>

	<nav>
		<div id="primary-navigation">
			<ul itemscope itemtype="http://schema.org/SiteNavigationElement" id="primary-list"></ul>
		</div>
		<div id="secondary-navigation">
			<ul itemscope itemtype="http://schema.org/SiteNavigationElement" id="secondary-list"></ul>
		</div>
	</nav>
</body>
</html>