<footer itemscope itemtype="http://schema.org/WPFooter">
	<h5>Copyright (C) 2015 <span itemprop="author">mntone</span>. All rights reserved. <% if( lang == "ja" ) { %>[<a href="/en/">English</a>]<% } else { %>[<a href="/">Japanese</a>]<% } %>, icon by <a href="https://icomoon.io/">IcoMoon</a></h5>
</footer>