<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title><%- title %></title>
	<style>
		@-ms-viewport {
			width: device-width;
		}
	</style>
	<link rel="stylesheet" href="/c/a.css">
	<script src="/j/a.js"></script>
</head>
<body>
	<% include header %>

	<nav>
		<ul itemscope itemtype="http://schema.org/SiteNavigationElement">
			<% if( lang == "ja" ) { %>
			<li><a href="/" itemprop="url"><span itemprop="name">ホーム</span></a></li>
			<li><a href="http://mntone.hateblo.jp/" itemprop="url"><span itemprop="name">ブログ</span></a></li>
			<li><a href="https://twitter.com/mntone" itemprop="url"><span itemprop="name">Twitter</span></a></li>
			<li><a href="/en/" itemprop="url"><span itemprop="name">en</span></a></li>
			<li><a href="/nicobriz/privacy.html" itemprop="url"><span itemprop="name">nicobirz のプライバシー ポリシー</span></a></li>
			<% } else { %>
			<li><a href="/en/" itemprop="url"><span itemprop="name">Home</span></a></li>
			<li><a href="http://mntone.hateblo.jp/" itemprop="url"><span itemprop="name">Blog (ja)</span></a></li>
			<li><a href="https://twitter.com/mntone" itemprop="url"><span itemprop="name">Twitter</span></a></li>
			<li><a href="/" itemprop="url"><span itemprop="name">ja</span></a></li>
			<li><a href="/en/nicobriz/privacy.html" itemprop="url"><span itemprop="name">nicobirz’s Privacy Policy</span></a></li>
			<% } %>
		</ul>
	</nav>