<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title><%- title %></title>
	<style>
		@-ms-viewport {
			width: device-width;
		}
	</style>
	<link rel="stylesheet" href="/c/a.css">
	<script>if(!this["Promise"])document.write('<script src="/j/npoc.min.js"><'+'/script>');</script>
	<script src="/j/a.js"></script>
</head>
<body>
	<div id="content">

		<% include header %>