<% include ../base/head %>

<article itemscope itemtype="http://schema.org/Article">
	<% if( lang == "ja" ) { %>
	<img src="/i/us.10.png" srcset="/i/us.15.png 1.5x" height="569" width="320" alt="アプリ画面サンプル" class="image-right">

	<h2 itemprop="headline">授業情報アプリ</h2>
	<div itemprop="articleBody">
		<p>
			授業情報アプリとは、酢酸さん <a href="https://twitter.com/ch3cooh/with_replies/">@ch3cooh</a> が運営する<a href="http://kyuko.catchball.co/">KyukoApp API</a>を利用し、休講情報を取得するためのアプリです。2015 年 1 月 16 日現在では「白百合女子大学」、「電気通信大学」、「東京農業大学」、「千葉工業大学」、「南山大学」、「九州大学」、「東京都市大学」に対応しています。<br>
			近い将来 (年内?)、酢酸さんから正式なアプリが出るので、このアプリは Google Play による配布は行っておりません。ご了承ください。
		</p>
	</div>

	<h2 itemprop="headline">対応環境</h2>
	<div itemprop="articleBody">
		<p>Android 2.2 以降 (セキュリティー対策のためにも早めの最新版への移行をお勧めします)</p>
	</div>

	<h2 itemprop="headline">ダウンロード</h2>
	<div itemprop="articleBody">
		<p><a href="privacy.html">プライバシー ポリシー</a>に同意する場合のみご利用ください</p>
		<p><a href="/cs.apk">ダウンロード (バージョン 0.9)</a></p>
	</div>
	<% } else { %>
	<img src="/i/us.10.png" srcset="/i/us.15.png 1.5x" height="569" width="320" alt="app screen sample" class="image-right">

	<h2 itemprop="headline">Univ Schedule</h2>
	<div itemprop="articleBody">
		<p>
			Univ Schedule app can get universities’ class information. Its information is fetched from KyukoApp service provided by saku-san <a href="https://twitter.com/ch3cooh/with_replies/">@ch3cooh</a>. You can get these universities’ information: “Shirayuri College,” “University of Electro-Communications,” “Tokyo University of Agriculture,” “Chiba Institute of Technology,” “Nanzan University,” “Kyushu University,” and “Tokyo City University” as of January 16, 2015.<br>
			In the near future, I do NOT destribute this app in Google Play because of official KyukoApp.
		</p>
	</div>

	<h2 itemprop="headline">Support environment</h2>
	<div itemprop="articleBody">
		<p>after Android 2.2</p>
	</div>

	<h2 itemprop="headline">Downloads</h2>
	<div itemprop="articleBody">
		<p>If you agree <a href="privacy.html">Privacy Policy</a>, you can use</p>
		<p><a href="/cs.apk">Download (Version 0.9)</a></p>
	</div>
	<% } %>
</article>

<% include ../base/foot %>