<% include ../base/head %>

<article itemscope itemtype="http://schema.org/Article">
	<% if( lang == "ja" ) { %>
	<h2 itemprop="headline">プライバシー ポリシー</h2>
	<div itemprop="articleBody">
		<p>アプリ IkaConnect (以下「本アプリ」) は、以下のようにプライバシー ポリシーを定めます。</p>

		<ul>
			<li>本アプリにおけるインターネットを用いた通信は、イカリングのサービスを利用するために使われます。イカリング以外のサービスには接続しません。</li>
			<li>あなたが本アプリで使うニンテンドー ネットワーク アカウントのデータはあなたのデバイスに保存されます。なおこれらのデータはイカリングのサービスを利用するために使われ、SSL 通信を用いてニンテンドーのサーバーに送信されます。</li>
			<li>その他本アプリに関してご不明なことがございましたら、<br>&nbsp;&nbsp;&nbsp;&nbsp;Twitter <a href="http://twitter.com/mntone">@mntone</a><br>または<br>&nbsp;&nbsp;&nbsp;&nbsp;mntone[at]outlook.jp ([at] は @ に変更してください)<br>までご連絡ください。</li>
		</ul>
	</div>
	<% } else { %>
	<h2 itemprop="headline">Privacy Policy</h2>
	<div itemprop="articleBody">
		<p>This privacy policy cover the use of the app IkaConnect (called “this app”).</p>

		<ul>
			<li>This app use internet connection to use the SplatNet. Connect to only SplatNet.</li>
			<li>This app save “Nintendo Network account” on your device. These data is sent to only Nintendo over SSL.</li>
			<li>If you have any questions about this app, <br>&nbsp;&nbsp;&nbsp;&nbsp;reply to Twitter <a href="http://twitter.com/mntone">@mntone</a><br>or<br>&nbsp;&nbsp;&nbsp;&nbsp;send mail to mntone[at]outlook.jp (change [at] to @)<br></li>
		</ul>
	</div>
	<% } %>
</article>

<% include ../base/foot %>