<% include ../base/head %>

<article itemscope itemtype="http://schema.org/Article">
	<% if( lang == "ja" ) { %>
	<img src="/i/tvupl.10.png" srcset="/i/tvupl.15.png 1.5x" height="180" width="500" alt="アプリ画面サンプル" class="image-right">

	<h2 itemprop="headline">Twitterに動画をうｐするマン</h2>
	<div itemprop="articleBody">
		<p>
			Twitterに動画をうｐするマンとは、Twitterに動画をアップロードしてくれるそんなハートフルなやつです。かわいいです。動画投稿に関してはブログ記事 <a href="http://mntone.hateblo.jp/entry/2015/08/08/111228">http://mntone.hateblo.jp/entry/2015/08/08/111228</a> をチェックしてください。
		</p>
	</div>

	<h2 itemprop="headline">対応環境</h2>
	<div itemprop="articleBody">
		<p>Windows Vista SP2 以降 (.NET Framework 4.5 が必要です)</p>
	</div>

	<h2 itemprop="headline">ダウンロード</h2>
	<div itemprop="articleBody">
		<p><a href="privacy.html">プライバシー ポリシー</a>に同意する場合のみご利用ください</p>
		<p><a href="/tvupl091.zip">ダウンロード (バージョン 0.9.1)</a></p>
	</div>
	<% } else { %>
	<img src="/i/tvupl.10.png" srcset="/i/tvupl.15.png 1.5x" height="180" width="500" alt="app screen sample" class="image-right">

	<h2 itemprop="headline">Twitter Video Uploader</h2>
	<div itemprop="articleBody">
		<p>
			Twitter Video Uploader is very heartfelt software that can upload a video to Twitter. I think it’s pretty. You must check blog entry <a href="http://mntone.hateblo.jp/entry/2015/08/08/111228">http://mntone.hateblo.jp/entry/2015/08/08/111228</a> (Japanese) for use.
		</p>
	</div>

	<h2 itemprop="headline">Support environment</h2>
	<div itemprop="articleBody">
		<p>Windows Vista SP2 or later (.NET Framework 4.5 is required)</p>
	</div>

	<h2 itemprop="headline">Downloads</h2>
	<div itemprop="articleBody">
		<p>If you agree <a href="privacy.html">Privacy Policy</a>, you can use</p>
		<p><a href="/tvupl091.zip">Download (Version 0.9.1)</a></p>
	</div>
	<% } %>
</article>

<% include ../base/foot %>