<% include ../base/head %>

<article itemscope itemtype="http://schema.org/Article">
	<h2 itemprop="headline">Privacy Policy</h2>
	<div itemprop="articleBody">
		<p>This privacy policy cover the use of the app Mntone WinRT Library DemoApp (called “this app”).</p>

		<ul>
			<li>This app do NOT collect personal information.</li>
			<li>If you have any questions about this app, <br>&nbsp;&nbsp;&nbsp;&nbsp;reply to Twitter <a href="http://twitter.com/mntone">@mntone</a><br>or<br>&nbsp;&nbsp;&nbsp;&nbsp;send mail to mntone[at]outlook.com (change [at] to @)<br></li>
		</ul>
	</div>
</article>

<% include ../base/foot %>