#####mime#########mime#####
AddType image/svg+xml svg
AddType image/webp webp
AddType image/avif avif
#####end:mime#####

#####ipcheck#####
order deny,allow
deny from .cn
deny from .ru
deny from .kp
#####end:ipcheck#####

<IfModule mod_headers.c>
	Header set Content-Security-Policy " \
	default-src https://mntone.minibird.jp; \
	"
</IfModule>

Options +MultiViews
AddLanguage en .en
AddLanguage en-us .en

AddLanguage ja .ja
AddLanguage ja-jp-mac .ja
AddLanguage ja-jp .ja

LanguagePriority en ja-jp ja
ForceLanguagePriority Prefer Fallback
DefaultLanguage en

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} mntone.minibird.jp
RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RewriteCond %{REQUEST_URI} ^/splw/
RewriteRule ^/?splw(/.*)?$ /splatwiki/close.html [R=301,L]

RewriteRule ^/?sw(/.*)?$ %{DOCUMENT_ROOT}/s/index.php [L]

RewriteRule ^/?aw(/.*)?$ %{DOCUMENT_ROOT}/apexwiki/index.php [L]

#RewriteCond %{REQUEST_URI} ^/aw/
#RewriteRule ^/?aw(/.*)?$ /apexwiki/maintenance.html [R=301,L]
