#####mime#########mime#####
AddType image/svg+xml svg
AddType image/webp webp
#####end:mime#####

Options +MultiViews
AddLanguage en-nz .en-gb
AddLanguage en-au .en-gb
AddLanguage en-gb .en-gb

AddLanguage en .en
AddLanguage en-us .en

AddLanguage ja .ja
AddLanguage ja-jp-mac .ja
AddLanguage ja-jp .ja

AddLanguage es-419 .es-419

AddLanguage es .es
AddLanguage es-es .es

AddLanguage fr-ca .fr-ca

AddLanguage fr .fr
AddLanguage fr-fr .fr

AddLanguage de .de
AddLanguage de-de .de

AddLanguage it .it
AddLanguage it-it .it

AddEncoding x-gzip .gz

LanguagePriority en en-gb ja-jp es-419 es-es fr-fr fr-ca it-it de-de
ForceLanguagePriority Prefer Fallback
DefaultLanguage en

RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} mntone.minibird.jp
RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RewriteRule ^/?splw(/.*)?$ %{DOCUMENT_ROOT}/splatwiki/index.php [L] 
RewriteRule ^/?sw(/.*)?$ %{DOCUMENT_ROOT}/splatwiki/index.php [L] 
