#####mime#########mime#####
AddType image/svg+xml svg
AddType image/webp webp
AddType image/avif avif
#####end:mime#####

#####ipcheck#####
order deny,allow
deny from .cn
deny from .il
deny from .kp
deny from .ua
#####end:ipcheck#####

<IfModule mod_headers.c>
	Header set Content-Security-Policy " \
	default-src https://mntone.minibird.jp; \
	style-src-attr 'unsafe-inline'; \
	"
</IfModule>

Options +MultiViews
AddLanguage en .en
AddLanguage en-us .en

AddLanguage ja .ja
AddLanguage ja-jp-mac .ja
AddLanguage ja-jp .ja

LanguagePriority en ja-jp ja
ForceLanguagePriority Prefer Fallback
DefaultLanguage en

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} mntone.minibird.jp
RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RewriteCond %{REQUEST_URI} =/index.html
RewriteRule ^.*$ / [R=301,L]

RewriteCond %{REQUEST_URI} ^/splw
RewriteRule ^/?splw(/.*)?$ /splatwiki/close.html [R=301,L]

RewriteCond %{REQUEST_URI} ^/sw
RewriteRule ^/?sw(/.*)?$ /s/index.php [L]

RewriteCond %{REQUEST_URI} ^/aw
RewriteRule ^/?aw(/.*)?$ /apexwiki/index.php [L]

#RewriteCond %{REQUEST_URI} ^/aw
#RewriteRule ^/?aw(/.*)?$ /apexwiki/maintenance.html [R=302,L]
