#####mime#########mime#####
AddType image/svg+xml svg
#####end:mime#####

Options +MultiViews
AddLanguage en-nz .en-gb
AddLanguage en-au .en-gb
AddLanguage en-gb .en-gb

AddLanguage en .en
AddLanguage en-us .en

AddLanguage ja .ja
AddLanguage ja-jp-mac .ja
AddLanguage ja-jp .ja

AddLanguage es-419 .es-419

AddLanguage es .es
AddLanguage es-es .es

AddLanguage fr-ca .fr-ca

AddLanguage fr .fr
AddLanguage fr-fr .fr

AddLanguage de .de
AddLanguage de-de .de

AddLanguage it .it
AddLanguage it-it .it

AddEncoding x-gzip .gz

LanguagePriority en en-gb ja-jp es-419 es-es fr-fr fr-ca it-it de-de
ForceLanguagePriority Prefer Fallback
DefaultLanguage en

RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} mntone.minibird.jp
RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RewriteRule ^/?splw(/.*)?$ %{DOCUMENT_ROOT}/splatwiki/index.php [L] 

<FilesMatch "\.html(\..+?)?\.gz$">
    ForceType text/html
    AddEncoding x-gzip .gz
</FilesMatch>

<FilesMatch "\.js(\..+?)?\.gz$">
    ForceType application/x-javascript
    AddEncoding x-gzip .gz
</FilesMatch>

<FilesMatch "\.css(\..+?)?\.gz$">
    ForceType text/css
    AddEncoding x-gzip .gz
</FilesMatch>

<FilesMatch "\.json(\..+?)?\.gz$">
    ForceType application/json
    AddEncoding x-gzip .gz
</FilesMatch>

<FilesMatch "\.png(\..+?)?\.gz$">
    ForceType   image/png
    AddEncoding x-gzip .gz
</FilesMatch>

<FilesMatch "\.svg(\..+?)?\.gz$">
    ForceType   image/svg+xml
    AddEncoding x-gzip .gz
</FilesMatch>
#####fastcgi#####
AddHandler fcgid-script .php .phps
FCGIWrapper "/home/mntone/mntone.minibird.jp/php/php-cgi" .php
FCGIWrapper "/home/mntone/mntone.minibird.jp/php/php-cgi" .phps
#####end:fastcgi#####
